
body {
  padding:0;
  margin:0;
}

.logo {
  max-width:180px;
  display:flex;
  align-self:flex-start;
  filter: invert(100%);
}

.home .logo {
  filter: initial;
}

/*.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.display-relative {
  position: relative !important;
}

.main {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  width: 100%;
}

.home .main {
  position:static;
}

.home .main {
  background-image:url(../images/background_main.jpg);
  background-size:cover;
  height:100vh;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container.scroll{
background-color:rgba(0, 0, 0, 0.3);
}

.container p {
  padding-top:20px;
  font-size:15px;
  padding-bottom:30px;
}

nav {
  display:flex;
  font-size:1rem;
  text-align: center;
  /*position:fixed;
  /*transform:rotate(-90deg);
  transform-origin: right bottom;
  top: 47px;
  right: -5px;*/
}

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: block;
}

.home nav {
  display:inline-block;
}


ul li {
  padding:20px;
  display:inline-flex;
}

h2 {
  margin-top:200px;
}

h2.contact {
  margin-top:50px;
}

p {
  padding-top:15px;
  font-size:15px;
}

.button {
  height:120px;
  width:120px;
  background: rgba(0,0,0,0.3);
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  border: 1px solid white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin:0 auto 10px;
}

.button a {
  text-decoration:none;
  color:white;
}

a:hover div span{
  color:#7FFF24;
  font-size:1.1em;
  font-weight:bold;
  width:140px;
  height:140px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}

form {
  margin-top:20px;
}

input#button {
  height:35px;
  width:80px;
  background-color: black;
  color:white;
  font-weight:600;
  border-radius:10%; 
}

#button:hover {
  color:#7FFF24;
}

input {
  width:100%;
}

textarea {
  width:100%;
  height:100px;
}

#col-pad {
  padding-top:15px;
  padding-bottom:15px;
}

/*.active {
  text-decoration:none;
  color:#7FFF24;
  font-size:1.1em;
  font-weight:bold;
  width:140px;
  height:140px;*/
}

i {
  font-style:normal;
  font-family: 'FontAwesome';
  font-size:20px;
  color:black;
  transform: 180deg;
}

span a {
  color:black;
}

a:-webkit-any-link {
    text-decoration: none;
    color:black;
}

.container a {
  transition:transform 0.3s;
}

.container li a:hover {
  transform: scale(1.1);
}

.home .container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:;
  }

.insta-image {
  width:25%;
  padding-bottom:25%;
  display:inline-block;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  padding-bottom:0.7%;
}

/*.structural .insta-image {
  padding-bottom:0.7%;
}*/

.insta-image:hover {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.footer-text {
  margin-bottom: 15px;
  font-size:14px;
} 

.footer-text span {
  margin-left: 10px;
}

a.instagram:hover {
  font-weight:bold !important;
}

@media (max-width: 700px) {

  .logo {
  max-width:120px;
  }

 .button {
  width:95px;
  height:95px;
  font-size: 11px;
  }

  .container {
  font-size:12px;
  }
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
  .burger {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 20px;
    cursor: pointer;
  }
  nav.mobile-menu {
    position: relative;
    display: block;
    text-align:left;
  }
  nav.mobile-menu ul {
    display: none;
    flex-direction: column; 
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid white;
    padding: 0;
    width: 180px;
    z-index: 99;
  }
  p.design {
  margin-bottom: 15px;
  font-size:12px;
  } 
}